#Pricing{
    padding-top: 100px;
    height: 500px;
    background-image: url("https://i.imgur.com/aZs4Pnd.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: white 0px 0px 15px;
    // background-size: contain;
}
#web-development-SEO-management-services{
    // padding-top: 150px;
    
    color: black;
    background-color: transparent;
    font-size: 5vw;
    text-align: center;
  }
  #section1{
    background-color: transparent;
  }
#section1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#web-development-SEO-management-services-P{
    color: white;
    padding: 10px;
}
#Contactform{
  padding: 0 !important;
  margin: 0 !important;
  background-color: white;
  display: flex;
  justify-content: center;
}

  @media screen and (max-width: 1506px) {

    
  }
  @media screen and (max-width: 982px) {
      #web-development-SEO-management-services{
          font-size: 55px;
          font-weight: bold;
        }
    
      
  }