#ContactImage{
  padding-top: 100px;
    height: 500px;
    background-image: url("https://i.imgur.com/aIsOrRk.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
#web-development-SEO-management-contact{
    padding-top: 150px;
    color: white;
    font-size: 4em;
    text-align: center;
    background-color: transparent;
    text-shadow: black 0px 0px 15px;
  }
#web-development-SEO-management-contact-h2{
  color: white;
  text-align: center;
  font-size: 2em;
  padding: 15px;
}
#web-development-SEO-management-contact-h3{
  color: white;
  text-align: center;
  font-size: 2em;
  padding: 15px;
}
#web-development-SEO-management-contact-p{
  color: white;
  padding-bottom: 15px;
}
#web-development-SEO-management-contact-ul{
  color: white;
  list-style-type: disc;
  padding: 15px;
}
#web-development-SEO-management-contact-li{
  padding-bottom: 15px;
}
#web-development-SEO-management-contact-li-h4{
  color:#7DF9FF;
  border-radius: 5px;
  padding: 2px;
  font-weight: 900;
}
#Contactform{
  padding: 0 !important;
  margin: 0 !important;
  background-color: white;
  display: flex;
  justify-content: center;
}
#web-development-SEO-management-contact-img1{
  display: block;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-position: center;
  background-position: center;
  width: 150em;
  padding-top: 25px;
  padding-left: 20px;
  padding-bottom: 25px;
}
#web-development-SEO-management-contact-img2{
  display: block;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-position: center;
  background-position: center;
  width: 100em;
  padding-top: 25px;
  padding-left: 20px;
  padding-bottom: 25px;
}

  @media screen and (max-width: 1506px) {

    
  }
  @media screen and (max-width: 982px) {
      #web-development-SEO-management-contact{
          
          font-weight: bold;
        }
    
      
  }