#web-development-SEO-management-contact{
    padding-top: 150px;
    color: white;
    font-size: 5vw;
    text-align: center;
  }


  @media screen and (max-width: 1506px) {

    
  }
  @media screen and (max-width: 982px) {
      #web-development-SEO-management-contact{
          
          font-weight: bold;
        }
    
      
  }