#topImage{
  padding-top: 100px;
    height: 500px;
    background-image: url("https://i.imgur.com/Sg38Jez.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    text-align: center;
    text-shadow: black 0px 0px 15px;
}
#section1{
  // height: 600px;
  max-height: 600px;
  overflow: hidden;
}
#web-development-SEO-management{
    padding-top: 150px;
    color: white;
    font-size: 5vw;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    background-color: transparent;
  }
  #web-development-SEO-management-p{
    color: white !important;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
  }
  #web-development-SEO-management-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #web-development-SEO-management-h2{
    color: white;
    font-size: 2vw;
    text-align: center;
    padding: 15px;
  }
  #thisPageLink:hover{
    font-size: 22px; 
  }
  #thisPageLink{
    
    font-size: 20px;
    margin-left: 20px;
    background-color: white;
    padding: 4px 8px 4px 8px;
    border-radius: 10px;
    font-weight: bolder;
  }
  #web-development-SEO-management-section-2{
    // height: 600px;
    background-color: white;
    // padding: 15px;
    margin-top: 15px;
  }
  #web-development-SEO-management-section-2-container{
    background-color: white;
  }
#web-development-SEO-management-section-2-h2{
    background-color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    text-align: center;
    flex-direction: column;
}
#thisPageLink-bg-black{
    color: white;
    font-size: 20px;
    margin-left: 20px;
    background-color: Black;
    padding: 4px 8px 4px 8px;
    border-radius: 10px;
    font-weight: bolder;
}
#thisPageLink-bg-black:hover{
    font-size: 22px; 
  }
#web-development-SEO-management-p-2{
    color: black !important;
    background-color: white;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
#web-development-SEO-management-section-3{
    padding: 15px;
    margin-top: 15px;
    padding-bottom: 15px;
}
#web-development-SEO-management-section-3-h2{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}
#Contactform{
    padding: 0 !important;
    margin: 0 !important;
    background-color: white;
    display: flex;
    justify-content: center;
}
#contactButton{
    color: white !important;
}
#cardImage{
    display: flex;
    align-items: center;
    justify-content: center;
}
#cardIcon{
    color: #7DF9FF;
    font-size: 100px;
}
#cardTitle{
    color: white;
}
#cardBody{
    color: white;
}
#web-development-SEO-management-img2{
  display: block;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-position: center;
  background-position: center;
  width: 200em;
  padding-top: 25px;
  padding-left: 20px;
  padding-bottom: 25px;
}
#SEO-analysis-img{
  display: block;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-position: center;
  background-position: center;
  width: 150em;
  padding-top: 25px;
  padding-left: 20px;
}
#web-development-img{
  display: block;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-position: center;
  background-position: center;
  width: 200em;
  padding-top: 25px;
  padding-right: 15px;
}
@media screen and (max-width: 1506px) {
  
    
}
@media screen and (max-width: 982px) {
    #web-development-SEO-management{
      font-size: 40px;
        font-weight: bold;
      }
    #web-development-SEO-management-h2{
        color: white;
        font-size: 30px;
        text-align: center;
        padding: 15px;
        font-weight: bold;
      }
      #web-development-SEO-management-section-2-h2{
        font-size: 30px;
        text-align: center;
        padding: 15px;
        font-weight: bold;
      }
      #web-development-SEO-management-section-3-h2{
        font-size: 20px;
        text-align: center;
        padding: 15px;
        font-weight: bold;
    }
    
}
@media screen and (max-width: 382px) {
#topImage{
  padding-top: 100px;
    height: 500px;
    background-image: url("https://i.imgur.com/hsssUVT.png");
    background-size: cover;
    background-position: -80px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    text-align: center;
    text-shadow: black 0px 0px 15px;
}

}